<%
var faq = [
  ['JRE POINTとは何ですか？',''],
  ['ルミネ・ニュウマンでポイントを利用したいです。',''],
  ['ルミネカードでポイントは貯まりますか？',''],
  ['ルミネカード以外でポイントは貯まりますか？','']
];
var tameru = [
  ['ルミネカードでポイントは貯まりますか？','ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用はもちろん、普段のお買いものやご飲食、公共料金のお支払いにルミネカードをご利用いただくと、ご利用金額1,000円（税込）ごとに5ポイント貯まります。※ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用の場合、ポイントは5％オフ後の金額に対し付与されます。<br/>※ポイントはご請求金額確定時に付与されます。<br/><br/>また、モバイルSuicaでの定期券購入、オートチャージ、チャージのご利用（ルミネカードでのお支払い）でさらにポイントが貯まります。<br/>詳細は<a href="//www.jreast.co.jp/card/point/save/viewplus.html" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
  ['お買いもの以外でも、ルミネカードでポイントをもっと貯めたいです。','モバイルSuicaでの定期券購入、オートチャージ、チャージのご利用のお支払いに、ルミネカードのご利用をお勧めいたします。<br/>ポイント還元率については<a href="//www.jreast.co.jp/card/point/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/><br/>※オートチャージとは、Suicaの残額が設定金額以下になると、改札入出場時に自動的に設定金額が入金（チャージ）できるサービスです。<br/>詳しくは<a href="//www.jreast.co.jp/card/function/autocharge/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/>※モバイルSuicaとは、Suicaをスマートフォンでご利用いただけるサービスです。<br/>詳しくは<a href="//www.jreast.co.jp/mobilesuica/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
  ['ルミネカード以外でポイントは貯まりますか？','ルミネ・ニュウマンは<span class="icon"><img src="./assets/img/yellow.png" alt=""/></span>黄マークの加盟店です。<br/><br/>・JRE POINT WEBサイトにご登録済みのSuicaでのお支払いで、200円（税込）ごとに1ポイント貯まります。<br/>詳しくは<a href="//www.jrepoint.jp/point/append/suica/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/><br/>ルミネ・ニュウマン各館は、順次、<span class="icon"><img src="./assets/img/green.png" alt=""/></span>緑マークの加盟店となります。<br/>導入前については、以下内容は適用されません。<br/>※各館の導入スケジュールは<span class="underline bold scroll-trigger" data-target="information">こちら</span><br/><br/>・ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコード提示でJRE POINTが貯まります。<br/>※対象決済手段：現金、商品券、他社クレジット、QR決済、電子マネー<br/>※対象外決済手段：ルミネカード・JRE CARDを含むビューカード<br/>・ ルミネカードを含むビューカードでのクレジット決済でポイントが貯まります。※JRE POINTはご請求金額確定時に付与されます。<div class="overflow"><img src="./assets/img/chart_pc.png" alt="" /></div>※JRE POINTカードはご利用いただけません。<br/>※ビューカード（ルミネカードを除く）・JRE POINTアプリ・LINEマイカードのバーコードの提示で100円（税抜）ごとに1ポイントが貯まります。<br/>※JRE CARDでクレジット払いをいただくと、その場で100円（税抜）につき3ポイントが、ご請求確定時に1,000円（税込）につき5ポイントが貯まります。<br/>※JRE CARD以外のJRE POINTロゴマークが記載されたビューカード（ルミネカードを除く）でクレジット払いをいただくと、その場で100円（税抜）につき1ポイントが、ご請求確定時に1,000円（税込）につき5ポイントが貯まります。<br/>※一部対象外ショップがございます。詳しくはショップへお問い合わせください。<br/><br/><span class="bold">ルミネカードについて：<br/>ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用がいつでも5％オフ。<br/>また、ご利用金額1,000円（税込）ごとにJRE POINTが5ポイント貯まります。<br/>※ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用の場合、JRE POINTは5％オフ後の金額に対し付与されます。<br/>ルミネ・ニュウマン館内でのクレジットカードでのお支払いには、特にルミネカードのご利用をお勧めします。</span>'],
  ['ルミネカードの提示でポイントは貯まりますか？','ルミネカードの提示ではポイントは貯まりません。<br/>ご請求確定時に1,000円（税込）ごとに5ポイントが貯まります。<br/>※ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用の場合、JRE POINTは5％オフ後の金額に対し付与されます。<br/><br/>なお、ルミネカード支払い時には、ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコードの提示でのポイントは貯まりません。'],
  ['ルミネ・ニュウマンで、JRE POINT カード（クレジット機能なしのポイントカード）は利用できますか？','<div class="card"><img src="./assets/img/jre-point.png" alt="JRE POINT"></div>JRE POINT カード（クレジット機能なしのポイントカード）は、ポイントを貯めることも使うこともできません。'],
  ['お買いもの時のポイント利用分に対しても、ポイントは貯まりますか？','<div class="card"><img src="./assets/img/card-three.png" alt=""></div>ルミネ・ニュウマン各館は、順次、<span class="icon"><img src="./assets/img/green.png" alt=""/></span>緑マークの加盟店となります。<br/>導入前については、以下内容は適用されません。<br/>※各館の導入スケジュールは<span class="scroll-trigger bold underline" data-target="information">こちら</span><br/><br/>JRE POINTアプリバーコード・ルミネカード以外のビューカードのご提示で、ポイント利用対象金額100円（税抜）ごとに1ポイント（※）貯まります。<br/>※軽減税率適用の有無にかかわらず、お買い上げ金額​から8％分を差し引いて税抜金額相当といたします​<br/><br/>なお、ルミネカードは、ポイント利用分に対するポイント付与対象外です。']
];
var tsukau = [
  ['ルミネ・ニュウマンでポイントを利用したいです。','<div class="card"><img src="./assets/img/card-four.png" alt=""></div>ルミネカードを含むビューカード、JRE POINTアプリ、LINEマイカードのバーコード提示で、JRE POINTを1ポイント1円としてご利用いただけます。<br/>※JRE POINTカードはご利用いただけません。<br/>※ルミネカードは、利用ポイント相当金額に対するポイント付与やポイントカードとして提示した場合のポイントの付与はされません。<br/>※ルミネのネット通販「アイルミネ」、ルミネカードWEB決済サービス、店頭での無線端末ではポイントは利用できません。<br/>※一部対象外ショップがございます。詳しくはショップへお問い合わせください。'],
  ['貯まったポイントをルミネ商品券に交換したいです。','JRE POINT WEBサイトでルミネ商品券への交換申込みができます。<br/>ルミネ商品券への交換は<a href="//www.jrepoint.jp/item/group/99100950/" target="_blank" rel="noopener" class="underline bold">こちら</a>からお進みください。<br/><br/>※貯めたポイントをJRE POINT WEBサイトで商品に交換するには、事前にルミネカードや、その他ビューカードをJRE POINT WEBサイトへ登録いただく必要があります。<br/>JRE POINT WEBサイトは<a href="//www.jrepoint.jp/" target="_blank" rel="noopener" class="underline bold">こちら</a><br/><br/>なお、ビューカード会員の方は、以下方法もご利用いただけます。<br/>【電話でのお申し込み】<br/>16桁のカード番号・4桁の暗証番号・3桁の商品番号をご用意のうえ、以下にお電話ください。<br/><br/><JRE POINT 商品交換ダイヤル><br/>電話番号：03-6685-4000（通話料有料）<br/>受付時間：6:00～23:00（年中無休）<br/><br/>【郵送でのお申し込み】<br/>ご利用代金明細書のJRE POINT交換申込用紙をご郵送ください。<br/>※期限切れ間近のポイントをご利用になる際は、毎月25日までに投函ください。<br/><br/>詳しくは、以下のページをご確認ください。<br/><a href="//www.jreast.co.jp/card/point/item/application.html" target="_blank" rel="noopener" class="underline bold"><外部サイト>JRE POINTの交換申込方法</a>'],
  ['貯まったポイントをSuicaへチャージして使いたいです。','Suicaへのチャージ方法は<a href="//www.jrepoint.jp/point/spend/suica-charge/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/>なお、JRE POINT WEBサイトにご登録済みのSuicaで、ルミネ・ニュウマンでお支払いいただくと、200円（税込）ごとに1ポイント貯まりますのでご利用をお勧めします。<br/>詳しくは<a href="//www.jrepoint.jp/point/append/suica/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
];
var sonota = [
  ['JRE POINTとは何ですか？','JRE POINTは、JR東日本グループのポイントサービスです。<br/>ルミネカードでのお買いものやSuicaチャージなどでポイントを貯めることができ、貯まったポイントは、店頭での利用やルミネ商品券など様々な商品と交換することができます。<br/>詳しくは<a href="//www.jrepoint.jp/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。'],
  ['ポイントとルミネマイルの違いは何ですか？','<span class="bold">ポイントについて：JRE POINT</span><br/>JRE POINTは、JR東日本グループのポイントサービスです。ルミネカードでのお買い物やSuicaチャージなどでポイントを貯めることができ、貯まったポイントは、店頭での利用(1ポイント＝1円）やルミネ商品券など様々な商品と交換することができます。<br/>詳しくは<a href="//www.jrepoint.jp/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。<br/><br/><span class="bold">ルミネマイルについて：ルミネのアプリ「ONE LUMINE」</span><br/>ルミネのアプリ「ONE LUMINE」にクレジットカードを連携することで、ルミネ・ニュウマンでのお買いものでマイルが貯まります。貯まったルミネマイルに応じてランクが上がり、ランクアップ時にルミネチケットがプレゼントされます。<br/>詳しくは<a href="//www.lumine.ne.jp/onelumine/" target="_blank" rel="noopener" class="underline bold">こちら</a>をご覧ください。']
];
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: 'https://www.lumine.ne.jp/jrepoint', ogimage: 'https://www.lumine.ne.jp/jrepoint/assets/img/ogp.jpg'}) %>
</head>

<body class="">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTQ2S2R"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFRJDJN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
  <%- include('parts/_header') %>
  <main>
    <section id="top" class="section">
        <h1>
            <picture>
              <source srcset="./assets/img/title.svg" media="(max-width: 750px)" />
              <img src="./assets/img/title-pc.svg" alt="JRE POINTのご案内"/>
            </picture>
        </h1>
        <div class="card">
          <picture class="pc">
            <source srcset="./assets/img/top_point_pc.webp" type="image/webp" />
            <img src="./assets/img/top_point_pc.png" width="1302" height="526" alt="">
          </picture>
          <picture class="sp">
            <source srcset="./assets/img/top_point_sp.webp" type="image/webp" />
            <img src="./assets/img/top_point_sp.png" width="1302" height="526" alt="">
          </picture>
        </div>
    </section>
    <section id="information" class="section">
      <div class="wrapper gray">
        <div class="section__inner">
          <h2 class="section-title lightGreen show addactive">
            <span class="ja">
              お知らせ
            </span>
            <span class="en">
              INFORMATION
            </span>
          </h2>
          <p class="section-text show addactive">
            ルミネ・ニュウマン各館は<br class="sp"/>
            順次、
            <picture>
              <source srcset="./assets/img/green.webp" type="image/webp" />
              <img src="./assets/img/green.png" width="40" height="40" alt="カードの提示で貯まる・使える JRE POINT">
            </picture>緑マークの加盟店となります。<br/><br/>
            <span class="sp">
              <span class="bold">＜できるようになること＞</span><br/>
              ・ルミネカードを含むビューカード<br/>
              ・JRE POINTアプリ<br/>
              ・LINEマイカードのバーコード<br/>
              提示で、JRE POINTを1ポイント1円としてご利用いただけます。<br/><br/>
              ・ビューカード（ルミネカードを除く）<br/>
              ・JRE POINTアプリ<br/>
              ・LINEマイカードのバーコード<br/>
              提示でJRE POINTが100円（税抜）ごとに1ポイント貯まります。<br/><br/>
              <span class="bold">＜スケジュール＞</span><br/>
              2023年10月26日（木）～ルミネ川越<br/>
              2024年1月16日（火）～ルミネ大宮<br/>
              2024年1月18日（木）～ルミネ池袋<br/>
              2024年1月23日（火）～ルミネ新宿<br/>
              2024年1月24日（水）～ルミネエスト新宿<br/>
              2024年1月25日（木）～ルミネ有楽町・ニュウマン新宿<br/>
              2024年1月30日（火）～ルミネ町田、ルミネ荻窪、ルミネ藤沢、大船ルミネウィング<br/>
              2024年1月31日（水）～ルミネ立川<br/>
              2024年2月6日（火）～ルミネ北千住<br/>
              2024年2月8日（木）～ルミネ横浜・ニュウマン横浜<br/><br/>
              ・ルミネカードを含むビューカード、JRE POINTアプリ、LINEマイカードのバーコード提示で、JRE POINTを1ポイント1円としてご利用いただけるようになりました。<br/>
              ・ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコード提示でJRE POINTが貯まるようになりました。<br/><br/>
            </span>
            <span class="pc">
              <span class="bold">＜できるようになること＞</span><br/>
              ・ルミネカードを含むビューカード / JRE POINTアプリ / LINEマイカードのバーコード<br/>
              提示で、JRE POINTを1ポイント1円としてご利用いただけます。<br/><br/>
              ・ビューカード（ルミネカードを除く） / JRE POINTアプリ / LINEマイカードのバーコード<br/>
              提示でJRE POINTが100円（税抜）ごとに1ポイント貯まります。<br/><br/>
              <span class="bold">＜スケジュール＞</span><br/>
              2023年10月26日（木）～ルミネ川越 / 2024年1月16日（火）～ルミネ大宮 / 2024年1月18日（木）～ルミネ池袋 / 2024年1月23日（火）～ルミネ新宿 / 2024年1月24日（水）～ルミネエスト新宿 / 2024年1月25日（木）～ルミネ有楽町・ニュウマン新宿 / 2024年1月30日（火）～ルミネ町田、ルミネ荻窪、ルミネ藤沢、大船ルミネウィング /  2024年1月31日（水）～ルミネ立川 / 2024年2月6日（火）～ルミネ北千住 / 2024年2月8日（木）～ルミネ横浜・ニュウマン横浜<br/><br/>
              ・ルミネカードを含むビューカード、JRE POINTアプリ、LINEマイカードのバーコード提示で、JRE POINTを1ポイント1円としてご利用いただけるようになりました。<br/>
              ・ビューカード（ルミネカードを除く）、JRE POINTアプリ、LINEマイカードのバーコード提示でJRE POINTが貯まるようになりました。<br/><br/>
            </span>
            詳細は以下をご確認ください。
          </p>
        </div>
      </div>
      <div class="section__inner">
        <div class="btn-wrapper flex flex-sp justify-center show addactive">
          <span class="scroll-trigger btn green hover" data-target="use-jre-point">
            <span class="text">
              使う
            </span>
            <%- include('parts/_tri') %>
          </span>
          <span class="scroll-trigger btn blue hover" data-target="get-jre-point">
            <span class="text">
              貯める
            </span>
            <%- include('parts/_tri') %>
          </span>
          <span class="scroll-trigger btn black hover" data-target="faq">
            <span class="text">
              FAQ
            </span>
            <%- include('parts/_tri') %>
          </span>
        </div>
      </div>
    </section>
    <section id="use-jre-point" class="section">
      <div class="wrapper green">
        <div class="section__inner">
          <h2 class="section-title blue show addactive">
            <span class="ja">
              ルミネ・ニュウマンで<br class="sp"/>
              JRE POINTを使う
            </span>
          </h2>
          <div class="bg-title show addactive">
            <picture>
              <source srcset="./assets/img/bg-green.svg" media="(max-width: 750px)" />
              <img src="./assets/img/bg-green-pc.svg" alt=""/>
            </picture>
            <p class="text">
              <span class="pc">
                ルミネカードを含むビューカード /<br/>
                JRE POINTアプリ / LINEマイカードのバーコード提示で<br/>
              </span>
              <span class="sp">
                ・ルミネカードを含むビューカード<br class="sp"/>
                ・JRE POINTアプリ<br class="sp"/>
                ・LINEマイカードのバーコード提示で<br class="sp"/>
              </span>
              <span class="big">1ポイント＝1円</span>
              で使えます。
            </p>
          </div>
          <p class="section-text kome text-center show addactive">
            <span class="small">
              ※その他ビューカード、JRE POINTアプリ、LINEマイカードのバーコード提示でも使えます。詳細は <span data-target="tsukau1" class="scroll-trigger bold underline">こちら</span><br/>
              ※JRE POINTカードではご利用いただけません。
            </span>
          </p>
          <div class="scene-wrapper">
            <div class="scene green scene1 show addactive">
              <h3 class="scene-title flex flex-sp align-center">
                <picture>
                  <source srcset="./assets/img/scene1.svg" media="(max-width: 750px)" />
                  <img src="./assets/img/scene1-pc.svg" alt="SCENE 01"/>
                </picture>
                <p>
                  貯まったポイントを<br class="sp"/>
                  少しずつ使いたい！
                </p>
              </h3>
              <div class="scene-content">
                <p class="big-title">
                  <span class="wrap">
                    <span class="text">お勧めの使い方</span>
                    <span class="line"></span>
                  </span>
                </p>
                <div class="example flex flex-sp align-center">
                  <span class="bar"></span>
                  <p>例えば…</p>
                  <span class="bar"></span>
                </div>
                <div class="text-wrapper">
                  <p class="text">
                    <span class="big">11,000円</span>の商品を購入したい！<br/>
                    <span class="box_ green">
                      使う
                    </span>
                    ルミネカード提示で<span class="big">1,000円分ポイント利用</span>
                  </p>
                  <p class="text">
                    残り10,000円をルミネカードで支払う<br/>
                    <span class="big black">お買い上げ金額が5％オフ</span><br class="sp"/>
                    <span class="normal">
                      ※ご利用代金引き落としの際、
                    </span><br class="sp"/>
                    <span class="big black">9,500円に</span>
                  </p>
                  <p class="text">
                    <span class="box_ green mt">
                      貯まる
                    </span>
                    さらに、ルミネカードご利用の9,500円分<br class="sp"/>
                    <span class="big">45ポイント貯まる！</span><br/>
                    <span class="small super-small normal center-layout">
                      （ルミネカードご利用1,000円（税込）ごとに5ポイント貯まります）
                    </span>
                  </p>
                </div>
                <div class="illust">
                  <picture>
                    <source srcset="./assets/img/sc01_illust_pc.webp" type="image/webp" />
                    <img src="./assets/img/sc01_illust_pc.png" width="715" height="789" alt="">
                  </picture>
                </div>
                <p class="text">
                  <span class="small kome">
                    ポイントはご請求金額確定時に付与されます。
                  </span>
                  <span class="small kome">
                    ルミネカードは、利用ポイント相当金額に対するポイント付与やポイントカードとして提示した場合のポイントの付与はされません。
                  </span>
                  <span class="small kome">
                  ルミネのネット通販「アイルミネ」、ルミネカードWEB決済サービス、店頭での無線端末ではポイントは利用できません。
                  </span>
                  <span class="small kome">
                  一部対象外ショップがございます。詳しくはショップへお問い合わせください。
                  </span>
                </p>
              </div>
            </div>
            <div class="scene green scene2 show addactive">
              <h3 class="scene-title flex flex-sp align-center">
                <picture>
                  <source srcset="./assets/img/scene2.svg" media="(max-width: 750px)" />
                  <img src="./assets/img/scene2-pc.svg" alt="SCENE 02"/>
                </picture>
                <p>
                  まとめて使いたい！
                </p>
              </h3>
              <div class="scene-content">
                <p class="big-title">
                  <span class="wrap">
                    <span class="text">たくさん貯まったポイントは、</span>
                    <span class="line"></span>
                  </span>
                  <span class="sp">
                    <span class="wrap">
                      <span class="text">
                        ルミネ商品券に交換するのが</span>
                      <span class="line"></span>
                    </span>
                    <span class="wrap">
                      <span class="text">
                        一番還元率が高い！</span>
                      <span class="line"></span>
                    </span>
                  </span>
                  <span class="pc">
                    <span class="wrap">
                      <span class="text">
                        ルミネ商品券に交換するのが一番還元率が高い！</span>
                      <span class="line"></span>
                    </span>
                  </span>
                </p>
                <div class="example flex flex-sp align-center">
                  <span class="bar"></span>
                  <p>例えば…</p>
                  <span class="bar"></span>
                </div>
                <div class="text-wrapper">
                  <div class="left">
                    <p class="text flex flex-sp align-center">
                      <span>2,000ポイント</span>
                      <span>2,000円分</span>
                    </p>
                    <p class="text flex flex-sp align-center">
                      <span>3,600ポイント</span>
                      <span>4,000円分</span>
                    </p>
                    <p class="text flex flex-sp align-center">
                      <span>5,300ポイント</span>
                      <span>6,000円分</span>
                    </p>
                    <p class="text flex flex-sp align-center">
                      <span>6,800ポイント</span>
                      <span>8,000円分</span>
                    </p>
                  </div>
                  <div class="right">
                    <p class="text flex flex-sp align-center">
                      <span class="zu">8,400ポイント</span>
                      <span class="zu">10,000円分</span>
                    </p>
                    <p class="text flex flex-sp align-center">
                      <span>16,400ポイント</span>
                      <span>10,000円分</span>
                    </p>
                    <p class="text flex flex-sp align-center">
                      <span>24,400ポイント</span>
                      <span>30,000円分</span>
                    </p>
                  </div>
                </div>
                <div class="illust">
                  <picture>
                    <source srcset="./assets/img/sc02_illust_pc.webp" type="image/webp" />
                    <img src="./assets/img/sc02_illust_pc.png" width="728" height="750" alt="">
                  </picture>
                </div>
                <div class="hikikae">
                  <div class="hikikae-title flex flex-sp align-center">
                    <span class="bar"></span>
                    <p>引き換え方法</p>
                    <span class="bar"></span>
                  </div>
                  <div class="step-wrapper">
                    <div class="step">
                      <div class="flex space-between">
                        <div class="flex">
                          <div class="step-title">
                            <p>STEP 1</p>
                          </div>
                          <p class="step-text">
                            予め、JRE POINT WEBサイトに<br/>
                            登録が必要です。
                          </p>
                        </div>
                        <a href="//www.jrepoint.jp/point/guide/82/" target="_blank" rel="noopener" class="step-btn hover">
                          <span>JRE POINT WEB サイト<br/>
                            登録方法はこちら</span>
                        </a>
                      </div>
                    </div>
                    <div class="step">
                      <div class="flex space-between">
                        <div class="flex">
                          <div class="step-title">
                            <p>STEP 2</p>
                          </div>
                          <p class="step-text whitespace">
                            JRE POINT WEBサイトにログインの上、<br/>
                            ご交換いただけます。
                          </p>
                        </div>
                        <a href="//www.jrepoint.jp/item/group/99100950/" target="_blank" rel="noopener" class="step-btn hover">
                          <span>ルミネ商品券への<br/>
                            交換はこちら</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex justify-center align-center">
                <p class="big-title small">
                  <span class="sp">
                    <span class="wrap">
                      <span class="text">貯まったポイントをSuicaに</span>
                      <span class="line"></span>
                    </span>
                    <span class="wrap">
                      <span class="text">
                        チャージすることもできます。</span>
                      <span class="line"></span>
                    </span>
                  </span>
                  <span class="pc">
                    <span class="wrap">
                      <span class="text">貯まったポイントをSuicaにチャージすることもできます。</span>
                      <span class="line"></span>
                    </span>
                  </span>
                </p>
                <p class="section-text right">
                  <span class="small">詳細は<span data-target="tsukau3" class="scroll-trigger bold underline">こちら</span></span>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="get-jre-point" class="section">
      <div class="wrapper blue">
        <div class="section__inner">
          <h2 class="section-title green show addactive">
            <span class="ja">
              ルミネ・ニュウマンで<br class="sp"/>
              JRE POINTを貯める
            </span>
          </h2>
          <div class="bg-title show addactive">
            <picture>
              <source srcset="./assets/img/bg-blue1.svg" media="(max-width: 750px)" />
              <img src="./assets/img/bg-blue1-pc.svg" alt=""/>
            </picture>
            <p class="text">
              ルミネカードのご利用で<br class="sp"/>
              <span class="medium">1,000円</span>（税込）ごとに<br class="sp"/>
              <span class="medium">5ポイント</span>貯まります。
            </p>
          </div>
          <p class="section-text kome text-center show addactive">
            <span class="small">
              ※ルミネ・ニュウマン・ネット通販「アイルミネ」でのご利用の場合、<br class="sp">JRE POINTは5％オフ後の金額に対し付与されます。
            </span>
            <span class="small">
              ※ポイントはご請求金額確定時に付与されます。
            </span>
          </p>
          <div class="bg-title mt show addactive">
            <picture>
              <source srcset="./assets/img/bg-blue1.svg" media="(max-width: 750px)" />
              <img src="./assets/img/bg-blue2-pc.svg" alt=""/>
            </picture>
            <p class="text">
              Suicaのご利用で<br class="sp"/>
              <span class="medium">200円</span>（税込）ごとに<br class="sp"/>
              <span class="medium">1ポイント</span>貯まります。
            </p>
          </div>
          <p class="section-text kome text-center show addactive">
            <span class="small">
              ※ルミネカード以外でのポイント付与について、詳細は<span data-target="tameru3" class="scroll-trigger bold underline">こちら</span>
            </span>
            <span class="small">
            ※予めJRE POINT WEBサイトに登録したSuicaでの支払いが条件です。
            </span>
          </p>
          <div class="scene-wrapper">
            <div class="scene navy scene3 show addactive">
              <h3 class="scene-title flex flex-sp align-center">
                <picture>
                  <source srcset="./assets/img/scene3.svg" media="(max-width: 750px)" />
                  <img src="./assets/img/scene3-pc.svg" alt="SCENE 03"/>
                </picture>
                <p>
                  お買いもの以外でも<br class="sp"/>ポイントを貯めたい！
                </p>
              </h3>
              <div class="scene-content">
                <p class="big-title">
                  <span class="sp">
                    <span class="wrap">
                      <span class="text">Suica定期券機能付き</span>
                      <span class="line"></span>
                    </span>
                    <span class="wrap">
                      <span class="text">
                        モバイルSuicaで5％還元！</span>
                      <span class="line"></span>
                    </span>
                  </span>
                  <span class="pc">
                    <span class="wrap">
                      <span class="text">Suica定期券機能付きモバイルSuicaで5％還元！</span>
                      <span class="line"></span>
                    </span>
                  </span>
                </p>
                <div class="example flex flex-sp align-center">
                  <span class="bar"></span>
                  <p>例えば…</p>
                  <span class="bar"></span>
                </div>
                <div class="text-wrapper">
                  <p class="text arrow">
                    70,000円の定期券をモバイルSuica<br class="sp">
                  （ルミネカード支払い）で購入
                  </p>
                  <p class="text">
                    <span class="big">3,500円相当のポイント</span>が貯まります！
                  </p>
                  <p class="text">
                    <span class="small kome">
                      モバイルSuicaとは、Suicaをスマートフォンでご利用いただけるサービスです。
                    </span>
                    <span class="small kome">
                      「5%還元」とは、モバイルSuica定期券の購入で付与される2%と、その際にルミネカードで決済時に付与される3%の合計です。
                    </span>
                  </p>
                </div>
                <p class="big-title mt">
                  <span class="wrap">
                    <span class="text">                      
                      <span class="md">
                        定期じゃなくてもOK。
                      </span>
                    </span>
                  </span><br class="pc">
                  <span class="wrap">
                    <span class="text">                      
                      Suicaをオートチャージで
                    </span>
                    <span class="line"></span>
                  </span>
                  <span class="wrap">
                    <span class="text">
                    1.5％還元！
                    </span>
                    <span class="line"></span>
                  </span>
                </p>
                <div class="example flex flex-sp align-center">
                  <span class="bar"></span>
                  <p>例えば…</p>
                  <span class="bar"></span>
                </div>
                <div class="text-wrapper">
                  <p class="text whitespace">
                    オートチャージ（ルミネカード支払い）機能<br class="sp">
                    により、<span class="big">日常的にサクサク貯まります。</span>
                  </p>
                  <p class="text">
                    <span class="small kome">
                      オートチャージとは、Suicaの残額が設定金額以下になると、<br class="pc">改札入出場時に自動的に設定金額が入金（チャージ）できるサービスです。
                    </span>
                  </p>
                </div>
                <div class="illust">
                  <picture>
                    <source srcset="./assets/img/sc03_illust_pc.webp" type="image/webp" />
                    <img src="./assets/img/sc03_illust_pc.png" width="533" height="634" alt="">
                  </picture>
                </div>
                <div class="step-wrapper">
                  <div class="step">
                    <a href="//www.jreast.co.jp/card/point/" target="_blank" rel="noopener" class="step-btn hover navy">
                      <span>ポイント還元率に<br/>
                        ついてはこちら</span>
                    </a>
                  </div>
                  <div class="step">
                    <a href="//www.jreast.co.jp/mobilesuica/start/entry/" target="_blank" rel="noopener" class="step-btn hover navy">
                      <span>モバイルSuicaの<br/>
                        新規登録はこちら</span>
                    </a>
                  </div>
                  <div class="step">
                    <a href="//www.jreast.co.jp/card/function/autocharge/use_view.html" target="_blank" rel="noopener" class="step-btn hover navy">
                      <span>オートチャージの<br/>
                        ご利用方法はこちら</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cards">
            <div class="img show addactive">
              <picture>
                <source srcset="./assets/img/3card_pc.webp" type="image/webp" />
                <img src="./assets/img/3card_pc.png" width="829" height="537" alt="">
              </picture>
            </div>
            <p class=" show addactive">
              ルミネ・ニュウマン・ネット通販<br/>
              「アイルミネ」でのご利用が<span class="wrap"><span class="text">いつでも5％オフ。</span></span><br/>
              クレジットカード決済での<br/>
              お支払いで<span class="wrap"><span class="text">JRE POINTが5ポイント貯まる。</span></span><br/>
              館内でのご利用は、<br/>
              <span class="wrap"><span class="text">特にルミネカードがおすすめ！</span></span>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="faq" class="section">
      <div class="wrapper gray">
        <div class="section__inner">
          <h2 class="section-title lightGreen show addactive">
            <span class="ja">
              よくある質問
            </span>
            <span class="en">
              FAQ
            </span>
          </h2>
          <div class="faq-wrapper show addactive">
            
            <div class="faq scroll-trigger" data-target="sonota1">
              <div class="q flex flex-sp align-center">
                  <p>
                      JRE POINTとは何ですか？
                  </p>
              </div>
            </div>
          
            <div class="faq scroll-trigger" data-target="tsukau1">
              <div class="q flex flex-sp align-center">
                  <p>
                      ルミネ・ニュウマンでポイントを利用したいです。
                  </p>
              </div>
            </div>
          
            <div class="faq scroll-trigger" data-target="tameru1">
              <div class="q flex flex-sp align-center">
                  <p>
                      ルミネカードでポイントは貯まりますか？
                  </p>
              </div>
            </div>
          
            <div class="faq scroll-trigger" data-target="tameru3">
              <div class="q flex flex-sp align-center">
                  <p>
                      ルミネカード以外でポイントは貯まりますか？
                  </p>
              </div>
          </div>
        </div>
      </div>
    </div>
      <div class="section__inner">
        <h3 class="faq-title navy show addactive" id="tameru">
          <span class="bar">
          </span>
          <span class="text">貯める</span>
          <span class="bar">
          </span>
        </h3>
        <div class="qa-wrapper">
          <% for (var i = 0; i < tameru.length; i++) { %>
            <%- include('parts/_qa', {q: tameru[i][0], a: tameru[i][1], id: `tameru${i+1}`, color: 'light-blue'}) %>
          <% } %>
        </div>
        <h3 class="faq-title green show addactive" id="tsukau">
          <span class="bar">
          </span>
          <span class="text">使う</span>
          <span class="bar">
          </span>
        </h3>
        <div class="qa-wrapper">
          <% for (var i = 0; i < tsukau.length; i++) { %>
            <%- include('parts/_qa', {q: tsukau[i][0], a: tsukau[i][1], id: `tsukau${i+1}`, color: 'light-green'}) %>
          <% } %>
        </div>
        <h3 class="faq-title black show addactive" id="sonota">
          <span class="bar">
          </span>
          <span class="text">その他</span>
          <span class="bar">
          </span>
        </h3>
        <div class="qa-wrapper">
          <% for (var i = 0; i < sonota.length; i++) { %>
            <%- include('parts/_qa', {q: sonota[i][0], a: sonota[i][1], id: `sonota${i+1}`, color: 'light-gray'}) %>
          <% } %>
        </div>
      </div>
    </section>
    <section id="last" class="section">
      <div class="section__inner">
        <div class="wrapper flex flex-sp space-between">
          <div class="box show addactive">
            <p class="box-title">
              JRE POINTに関する問い合わせ先
            </p>
            <div class="box-content">
              <p>
                お電話、メールでお問合せを受け付けています。<a href="//faq.jrepoint.jp/?site_domain=default" target="_blank" rel="noopener" class="bold underline">こちら</a>をご確認ください。<br/><br/>
                ■お電話でのお問い合わせ<br/>
                JRE POINTコールセンター（10:00～18:00）<br/>
                <a href="tel:0570-036-389">0570-036-389</a>ナビダイヤル
              </p>
            </div>
          </div>
          <div class="box show addactive">
            <p class="box-title">
              ルミネカードに関する問い合わせ先
            </p>
            <div class="box-content">
              <p>
                ■【VIEW】ルミネカード専用ダイヤル(9:00～20:00　年中無休)<br/>
                <a href="tel:03-6685-9000">03-6685-9000</a><br/>
                ※受付時間は予告なく変更となる場合がございます。<br/><br/>
                紛失・盗難の場合<br/>
                ■ビューカード　紛失･盗難デスク(24時間・年中無休)<br/>
                <a href="tel:03-6685-4800">03-6685-4800</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('parts/_footer') %>
  <div id="bottom" class="scroll-trigger" data-target="faq">
    <span class="text">よくある質問</span>
    <%- include('parts/_tri') %>
  </div>
  </div>
  <script type="text/javascript">
    (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=APNU6vI";
      s.parentNode.insertBefore(tagjs, s);
    }());
  </script>
  <noscript>
    <iframe src="//b.yjtag.jp/iframe?c=APNU6vI" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </noscript>
</body>
<script src="./assets/js/libs.js"></script>
<script src="./assets/js/main.js"></script>
</html>