<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('parts/_head', {title: '', description: '', keywords: '', url: '', ogimage: ''}) %>
</head>

<body class="">
  <div class="container" id="container">
  <%- include('parts/_header') %>
  <main>
    <section id="top" class="section bg-green">
      <div class="wrapper w-full flex itens-center sm:block" id="top-wrapper">
        <div class="wrapper-content flex mx-auto sm:flex-col">
        <div class="box w-1/2 flex items-center justify-center sm:w-full sm:order-2">
          <div>
            <h1 class="title mx-auto sm:hidden">
              <img src="./assets/img/title.svg" alt="ムスブルミネ">
            </h1>
            <div class="date mx-auto addactive">
              <img src="./assets/img/date.png" alt="2025.11.13 THU GRAND OPEN">
            </div>
          </div>
        </div>
        <div class="box w-1/2 flex items-center justify-center sm:block sm:w-full sm:order-1">
          <h1 class="title mx-auto hidden sm:block addactive">
            <img src="./assets/img/title.svg" alt="ムスブルミネ">
          </h1>
          <div class="kv sm:mx-auto overflow-hidden relative">
            <img class="addactive" src="./assets/img/kv.png" alt="">
          </div>
        </div>
        </div>
      </div>
      <div class="section__inner mx-auto">
        <p class="section-text bold fade-in text-white sm:text-center">
          地域と身体と地球を想い<br class="hidden sm:block" />より良い出会いが生まれる場「ムスブルミネ」。<br />
          心も身体も満たされる「食」をキーワードに<br class="hidden sm:block" />やさしい明日をむすんでいきます。
        </p>
        <div class="map-wrapper flex justify-between sm:block">
          <div class="box fade-in">
              <img src="./assets/img/map.png" alt="">
          </div>
          <div class="box flex flex-col">
            <div class="box-wrapper">
              <div class="box-content fade-in sm:flex">
                <div class="box-header flex items-center title-header sm:!mb-0">
                  <p class="bg-orange bold">
                    営業時間
                  </p>
                  <p class="text-white bold">
                    7:30～23:00
                  </p>
                </div>
                <div class="box-text w-full">
                  <p class="text-white small sm:whitespace-nowrap">&nbsp;※営業時間は店舗により異なる</p>
                </div>
              </div>
              <div class="box-content fade-in">
                <div class="box-header flex items-center title-header">
                  <p class="bg-orange bold">
                    アクセス
                  </p>
                  <p class="text-white bold">
                    JR 大宮駅 東口（北）徒歩1 分
                  </p>
                </div>
                <div class="box-text w-full">
                  <p class="text-white whitespace-nowrap">※専用駐車場/駐輪場はございません<br class="sm:hidden"/>
                  ※駐車サービスはルミネ大宮と同様</p>
                </div>
              </div>
            </div>
            <div class="box-bottom bg-orange mt-auto flex items-center justify-center fade-in">
              <p class="bold relative">
                「ムスブルミネ」のトピックス・サービスは<br/>
                ルミネ大宮ホームページをCHECK！<%- include('parts/svg/_link') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="shops" class="section bg-beige">
      <div class="text-center sm:text-left">
        <h2 class="section-title inline-flex justify-center items-center bg-orange addactive">
          <span class="source-sans-3 bold">SHOPS</span>
          <span class="ja">［店舗紹介］</span>
        </h2>
      </div>
      <!-- <div class="section__inner mx-auto"> -->
        <div class="wrapper mx-auto">
          <%- include('parts/_content1') %>
          <%- include('parts/_content2') %>
          <%- include('parts/_content3') %>
        </div>
      <!-- </div> -->
    </section>
    <section id="message" class="section overflow-hidden">
      <div class="text-center sm:text-left">
        <h2 class="section-title inline-flex justify-center items-center bg-orange addactive">
          <span class="source-sans-3 bold">MESSAGE</span>
          <span class="ja">［メッセージ］</span>
        </h2>
      </div>
      <div class="section__inner mx-auto relative">
        <div class="illust-wrapper absolute top-0 left-0 h-full w-full addactive sm:center-x sm:w-screen">
          <div class="illust illust1 absolute addactive">
            <img src="./assets/img/illust1.png" alt="">
          </div>
          <div class="illust illust2 absolute addactive">
            <img src="./assets/img/illust2.png" alt="">
          </div>
          <div class="illust illust3 absolute addactive">
            <img src="./assets/img/illust3.png" alt="">
          </div>
          <div class="illust illust4 absolute addactive">
            <img src="./assets/img/illust4.png" alt="">
          </div>
        </div>
        <div class="wrapper flex items-center justify-center sm:block">
          <div class="box">
            <div class="box-image fade-in">
              <picture>
					 	    <source srcset="./assets/img/catch-sp.svg" media="(max-width:749px)" />
					 	    <img src="./assets/img/catch.svg" alt="ムスブルミネ ここからむすぶ地域と未来とわたしのあした" />
					 	  </picture>
            </div>
          </div>
          <div class="box">
            <div class="box-text fade-in sm:text-center">
              <p class="bold sm:inline-block sm:text-left">
                身体と地球を想い<br/>
                ひとつの選択をした今日は<br/>
                大切な明日をつくってくれる<br/><br/>
                ここでの出会いや選択が<br/>
                わたしたちの暮らしと<br/>
                地域を育むように<br/><br/>
                暮らす人、作る人、 届ける人<br/>
                みんなの心地よい未来を<br/>
                ここから広げていきたい<br/><br/>
                人と人で想いをつなぎ<br/>
                やさしい明日をむすぶ<br/>
                ムスブルミネ
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swipers mx-auto relative fade-in">
        <div class="swiper-container relative mx-auto fade-in w-full overflow-hidden marquee" data-swiper="true" data-swiperPc="true" data-initialslide="0" data-center="true" data-centerPc="true" data-loop="true" data-space="20" data-spacePc="20" data-slides="1.5"  data-slidesPc="2" data-speed="6000" data-autoplay="marquee" data-navigation="false" data-navigationPc="false" data-scrollbar="false" data-scrollbarPc="false" data-reverse="false" data-pagination="false" data-paginationPc="false">	
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./assets/img/slide1.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/slide2.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/slide3.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/slide4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="concept" class="section bg-beige overflow-hidden">
      <div class="text-center sm:text-left">
        <h2 class="section-title inline-flex justify-center items-center bg-orange addactive">
          <span class="source-sans-3 bold">CONCEPT</span>
          <span class="ja">［コンセプト］</span>
        </h2>
      </div>
      <h3 class="bg-green flex items-center justify-center mx-auto fade-in sm:bg-transparent">
        <p class="text-white bold sm:text-center">
          <span class="sm:inline-block sm:bg-green">
          お客さまと「地域（地元）」
          </span><br class="hidden sm:block" />
          <span class="sm:inline-block sm:bg-green">
          「未来（環境や地球）」をむすぶ
          </span>
        </p>
      </h3>
      <div class="swipers mx-auto relative fade-in">
        <div class="swiper-button-prev items-center justify-center !hidden sm:!flex">
          <%- include('parts/svg/_arrow') %>
        </div>
        <div class="swiper-button-next items-center justify-center !hidden sm:!flex">
          <%- include('parts/svg/_arrow') %>
        </div>
        <div class="swiper-container relative mx-auto fade-in w-full overflow-hidden" data-swiper="true" data-swiperPc="false" data-initialslide="0" data-center="false" data-centerPc="true" data-loop="true" data-space="0" data-spacePc="20" data-slides="1"  data-slidesPc="2" data-speed="1000" data-autoplay="false" data-navigation="true" data-navigationPc="false" data-scrollbar="false" data-scrollbarPc="false" data-reverse="false" data-pagination="false" data-paginationPc="false">	
          <div class="swiper-wrapper wrapper !flex !box-border mx-auto">
            <div class="swiper-slide box box1 fade-in" data-delay="0">
              <p class="box-title flex justify-center">
                <img src="./assets/img/social.svg" alt="Social">
              </p>
              <p class="box-text text-center">
                地域をもっと好きになる<br/>
                地球にとってよい選択をする
              </p>
              <div class="box-image mx-auto relative">
                <img src="./assets/img/illust5.png" alt="">
              </div>
              <ul>
                <li>
                  <span>
                    大宮駅と氷川参道を結ぶ、<br/>
                    大宮駅東口に生まれた緑あふれる憩いの場
                  </span>
                </li>
                <li>
                  <span>
                    木造建築の施設で<br/>
                    施設前庭の木々は埼玉県で自生している<br/>
                    品種からセレクト
                  </span>
                </li>
                <li>
                  <span>
                    埼玉のクラフトビールCOEDOなど<br/>
                    地域/地方の食材が楽しめる
                  </span>
                </li>
              </ul>
            </div>
            <div class="swiper-slide box box2 fade-in" data-delay="1">
              <p class="box-title flex justify-center">
                <img src="./assets/img/life-enriching.svg" alt="Life-enriching">
              </p>
              <p class="box-text text-center">
                心も身体も満たされる<br/>
                豊かな時間を過ごす
              </p>
              <div class="box-image mx-auto relative">
                <img src="./assets/img/illust6.png" alt="">
              </div>
              <ul>
                <li>
                  <span>
                    大宮市場から仕入れたお魚や、埼玉県産の<br/>
                    食材を使用。健康に必要な栄養素をバランス<br/>
                    よく摂取できる理想的な献立「一汁三菜」を、<br/>
                    和と洋の両方の魅力を味わえる、<br/>
                    現代的でカジュアルなスタイルに再構築した<br/>
                    コース料理で心も身体も満たされた<br/>
                    時間を過ごせるレストラン<br/>
                    「SLB THE DINING」
                  </span>
                </li>
              </ul>
            </div>
            <div class="swiper-slide box box3 fade-in" data-delay="2">
              <p class="box-title flex justify-center">
                <img src="./assets/img/body-friendly.svg" alt="Body-friendly">
              </p>
              <p class="box-text text-center">
                健康的な生活の<br/>
                ヒントと出会う
              </p>
              <div class="box-image mx-auto relative">
                <img src="./assets/img/illust7.png" alt="">
              </div>
              <ul>
                <li>
                  <span>
                    身体に優しいお粥で有意義な<br/>
                    朝時間を過ごせるカフェ「SLB CAFE」   
                  </span>
                </li>
                <li>
                  <span>
                    毎日の食卓が楽しくなるような<br/>
                    オーガニック野菜やこだわり調味料と<br/>
                    出会える「ORGANIC&CO.」   
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    </main>
    <%- include('parts/_footer') %>
  </div>
</body>
<script src="//cdn.jsdelivr.net/npm/swiper@8.2.4/swiper-bundle.min.js"></script>
<script src="./assets/js/main.js"></script>
</html>